.actions {
    font-size: 0;
}

.avtorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go {
    font-size: 1rem;
}

.actions .go:not(:last-child) {
    margin-right: 1rem;
}

